<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kanban Board</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="/css/normalize.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/base.css" />
  <link rel="stylesheet" href="/css/board.css" />
</head>
<body>
<div id="app">
  <header>
      <h1>{{ boardTitle }}</h1>
  </header>
  <div id="column-container" class="board">
    <div class="column" v-for="column in columns" :key="column.id">
      <div class="column__header">
        <h2 class="handle">
            {{ column.title }}
        </h2>
        <div class="column__control">
            <button v-if="canRemoveColumn(column.id)" @click="removeColumn(column.id)" class="control__remove">X</button>
        </div>
      </div>
      <div :id="`list-${column.id}`" class="column__content card-list">
        <div v-for="(card, index) in board[column.id]" :key="card.id" class="card" @click="openCard(column.id, index)">
          <div class="card__header">
            <h3>{{ card.title }}</h3>
          </div>
          <!-- <div class="card__content" v-if="card.content">
            {{ card.content.slice(0, 30) }}...
          </div> -->
        </div>
      </div>
      <div class="add-card">
        <div>
          <input
            placeholder="Add a card..."
            autocomplete="off"
            v-model="newCard[column.id].title"
            @focus="startAdding(column.id)"
            @keyup.enter="addCard(column.id)"
            @blur="cancelAdd(column.id)" />
        </div>
      </div>
    </div>
    <div class="column add-column">
      <div class="column__header">
        <input v-model="newColumnLabel" placeholder="Add a column..." @keyup.enter="addColumn"/>
      </div>
    </div>
  </div>

  <div class="modal-dimmer" v-if="editingCard">
    <div class="modal">
      <div class="modal__header">
        <div class="modal__title">
          <input v-model="editingCard.card.title" />
        </div>
        <div class="modal__controls">
          <button @click="closeEditor">Close</button>
          <button @click="deleteCard(boardId.value, editingCard.column, editingCard.card)">Delete</button>
        </div>
      </div>
      <div class="modal__content">
        <textarea rows="5" v-model="editingCard.card.content"></textarea>
      </div>
    </div>
  </div>
</div>

<script src="/js/vue.js"></script>
<script src="/js/sortable.min.js"></script>
<script src="/js/board.js"></script>
</body>
</html>
